<%-include('../Includes/header.ejs')%>
</head>
<body>
  <%-include('../Includes/navigation.ejs')%>
  <br><br><br><br>
  <form action="/forgetPassword" method="post">
    <label for="email">Enter Email</label>
    <input type="text" name="u_email">
    <input type="submit" value="Submit">
  </form>


  <%-include('../Includes/footer.ejs')%>